* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

body {
  padding: 40px;
  max-width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: initial;
}

ul {
  list-style: none;
}

.title {
  margin-bottom: 20px;
  &.-text-center {
    text-align: center;
  }
}